---
import type { CollectionEntry } from 'astro:content';

import { formatDateLong } from '~/utils';

const {
  post: {
    data: { date, image, title, description },
    slug,
  },
} = Astro.props;
const url = `/liquids/${slug}`;
const formattedDate = formatDateLong(date);

export interface Props {
  post: CollectionEntry<'liquids'>;
}
---

<a
  href={url}
  class="bg-theo-purple/80 group relative flex aspect-video h-auto w-full overflow-hidden rounded-xl text-black opacity-100 transition-opacity hover:opacity-70"
  style={`background-image: url(${
    image?.src ?? 'https://t3.gg/images/social-media.png'
  }); background-size: cover; background-repeat: no-repeat; background-position: center;`}
>
  <div
    class="bg-theo-purple/80 absolute top-0 max-w-full truncate rounded-br-lg p-2 text-lg group-hover:underline md:p-4 md:text-2xl"
    transition:name="liquid-title"
  >
    {title}
  </div>
  {
    description && (
      <div class="bg-theo-purple/80 absolute bottom-0 flex w-full flex-col justify-center p-2 md:p-4">
        <div class="hidden sm:block">{formattedDate}</div>
        <div class="text-md description md:text-xl">{description}</div>
      </div>
    )
  }
</a>

<style>
  .description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
</style>
